@import "./media.scss";
$primary-color: #9EEBE2;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login, .register {
  height: 100vh;
  width: 100vw;
  @include flexBox();

  .login-panel, .register-panel {
    width: 350px;
    @include flexBox();
    margin: 5px;
    flex-direction: column;
    row-gap: 25px;
    padding: 80px 25px 80px 25px;
    background-color: #fff;
    border-radius: 60px;
    border: 1px solid #fff;
  }

  .MuiInputBase-root.MuiOutlinedInput-root {
    position: relative;
    margin-top: 10px;
  }

  .MuiFormControl-root.MuiTextField-root {
    fieldset {
      border: none;
    }

    label {
      font-size: 11pt;
      font-family: 'Inter', sans-serif;
    }
  }

  input {
    width: 90%;
    margin: auto;
    padding: 10px 10px 10px 19px;
    font-size: 11pt;
    border-radius: 25px;
    background-color: #E8E7E7;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
  }

  #login-btn, #reg-btn {
    position: relative;
    height: 41px;
    width: 125px;
    top: 20px;
    margin-bottom: 5px;
    background-color: #0077FF;
    border: none;
    border-radius: 40px;
    color:#fff;
    outline: none;
    font-weight: 600;
    text-transform: none;
  }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 700ms ease;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 700ms ease;
  opacity: 0;
}


@media(max-width: 319px) {
  .login, .register {
    .login-panel, .register-panel {
      border-radius: 10px;
      padding: 80px 0 80px 0;
    }
  }
}