@import "./media.scss";
$primary-color: #9EEBE2;


* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}







/*  Popup notification style */

.popup {
  position: absolute;
  height: 30px;
  width: fit-content;
  padding: 2px 20px 2px 20px;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  color: #000;
  right: 0; left: 0;
  margin: auto;
  transition: 1s ease-out;
  transform: translateY(-100px);
}



/* Overlay */

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background: rgba(0,0,0,0.5);
}



// Titlebar

.titlebar {
  position: relative;
  width: 100vw;
  height: 70px;
  @include flexBox();
  background-color: #0077FF;
  color: #FFF;

  .helper-holder {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    column-gap: 15px;

    .switch {
      position: relative;
      height: 30px;
      width: 70px;
      border-radius: 20px;
      background: #FFF;
      border: 1px solid #fff;

      .toggle {
        position: absolute;
        height: 27px;
        width: 27px;
        top: 1px;
        right: 0;
        @include flexBox();
        border-radius: 50%;
        transition: 0.5s ease;
        transform: translateX(-40px);
        border: 1px solid #000;
        background: #0077ff;
        color: none;
      }
    }
  }

  h1 {
    width: 100%;
    text-align: left;
    padding: 0px 0px 0px 40px;
  }

}

/* Navbar */

.navbar {
  display: flex;
  height: 10vh;
  width: 100vw;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  background: #FFF;
  z-index: 30;

  .fa.fa-bars {
    display: none;
    z-index: 30;
  }

  .nav-content {
    width: 100%;
    z-index: 30;

    .nav-items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      z-index: 30;
    }
  }

  .icon-holder {
    display: flex;
    flex-direction: column;

    .MuiButtonBase-root.MuiIconButton-root  {
      font-size: 10pt;
      border-radius: 4px;
      color: #0077FF;
    }
  }
}





/* Login and register panel */

.login, .register {
  position: absolute;
  height: 100vh;
  width: 100vw;
  @include flexBox();

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .login-panel, .register-panel {
    width: 350px;
    position: relative;
    @include flexBox();
    margin: 5px;
    flex-direction: column;
    row-gap: 25px;
    padding: 80px 25px 80px 25px;
    background-color: #fff;
    border-radius: 60px;
    border: 1px solid #fff;
  }

  .MuiInputBase-root.MuiOutlinedInput-root {
    position: relative;
    margin-top: 10px;
  }

  .MuiFormControl-root.MuiTextField-root {

    fieldset {
      border: none;
    }

    label {
      font-size: 11pt;
      font-family: 'Inter', sans-serif;
    }
  }

  input {
    width: 90%;
    margin: auto;
    padding: 10px 10px 10px 19px;
    font-size: 11pt;
    border-radius: 25px;
    background-color: #E8E7E7;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
  }

  #login-btn, #reg-btn {
    position: relative;
    height: 41px;
    width: 125px;
    background-color: #0077FF;
    border: none;
    border-radius: 40px;
    color:#fff;
    outline: none;
    font-weight: 600;
    text-transform: none;
  }
}




/* Home */


.home {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


/* Product */

.product {
  width: calc(50px + 60vw);
  margin: 5px auto 0 auto;

  &-details {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    justify-content: space-between;
    padding: 20px; 
    background: #FFF; 

    img {
      height: 150px;
      width: 150px;
    }

    div {
      flex: 1;
    }

    .item {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;

      .product-title {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    .button-holder {
      @include flexBox();
      flex-direction: column;
    }

    .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
      height: 41px;
      width: 125px;
      font-family: 'Inter', sans-serif;
      margin-bottom: 5px;
      background-color: #0077FF;
      border: none;
      border-radius: 4px;
      color:#fff;
      outline: none;
      font-weight: 200;
      font-size: 9pt;
      text-transform: none;
    }
  }
}







/* Router animation */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 700ms ease;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 700ms ease;
  opacity: 0;
}






/* Responsive media query */

@media(max-width: 769px) {
   
  .product {
    width: 96vw;
  }

  .navbar {
    justify-content: left;

    .fa.fa-bars {
      display: block;
      margin-left: 5px;
      transition: 0.7s ease;
    }

    .nav-content {
      display: none;
      position: absolute;
      height: 100vh;
      width: fit-content;
      padding: 0 30px 0 30px;
      transition: 0.7s ease;
      transform: translateX(-100vw);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #FFF;

      .nav-items {
        flex-direction: column;

        .icon-holder {
          flex-direction: row;
          align-items: center;
          justify-content: center;

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media(max-width: 469px) {
  .product {
    &-details {
      padding: 10px;
    }
  
    img {
      flex-basis: 100%;
      margin: 5px;
    }

    .button-holder {
      margin: 10px;
      flex-direction: row;
      flex-basis: 100%;

      .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
        width: 100%;
        margin: 0 2px 0 2px;
      }
    }
  }
}

@media(max-width: 319px) {
  .login, .register {
    .login-panel, .register-panel {
      border-radius: 10px;
      padding: 80px 0 80px 0;
    }
  }
}

@media(max-width: 286px) {
  .product {
    .button-holder {
      flex-wrap: wrap;

      .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
        width: 100%;
        margin: 2px 2px 2px 2px;
      }
    }
  }
}

@media(max-width: 200px) {
  .product {
    width: 100vw;
  }
}